<ion-header class="header-modal ion-no-border" [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="cancel()">
        <ion-icon name="chevron-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Chuyển đổi giá vàng thế giới</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="content-modal ion-padding">
  <div class="ion-margin-bottom">
    <ion-input
      label="Giá thế giới"
      label-placement="floating"
      fill="outline"
      color="primary"
    ></ion-input>
  </div>
  <div class="ion-margin-bottom">
    <ion-input
      label="Tỷ giá USD/VND"
      label-placement="floating"
      fill="outline"
      color="primary"
    ></ion-input>
  </div>
  <div>
    <ion-button color="primary">Quy đổi</ion-button>
  </div>
</ion-content>
