<ion-header class="ion-no-border modal-header" [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="cancel()">
        <ion-icon size="large" name="chevron-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Tính lãi vay</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding modal-chared-conent modal-content">
  <div class="form-group ion-margin-bottom">
    <ion-input label="Số tiền vay" label-placement="floating"
      fill="outline"
      placeholder></ion-input>

  </div>
  <div class="form-group ion-margin-bottom">
    <ion-input label="Thời gian vay tiền" label-placement="floating"
      mode="ios | md"
      fill="outline"
      placeholder></ion-input>
    <div class="input-action">
      <ion-select [interfaceOptions]="customPopoverOptions" value="year"
        interface="popover" placeholder="Select One">
        <ion-select-option value="year">Năm</ion-select-option>
        <ion-select-option value="month">Tháng</ion-select-option>
      </ion-select>
    </div>
  </div>
  <div class="form-group ion-margin-bottom">
    <ion-input label="Lãi xuất %" label-placement="floating"
      fill="outline"
      placeholder></ion-input>

  </div>
  <div class="form-group ion-margin-bottom">
    <ion-label class="ion-text-wrap">
      Loại hình trả
    </ion-label>
    <ion-select [interfaceOptions]="customPopoverOptions" value="2"
      interface="popover" placeholder="Chọn phương thức" fill="outline">
      <ion-select-option value="1">Trả lãi chia đều</ion-select-option>
      <ion-select-option value="2">Trả lại theo dư nợ giảm
        dần</ion-select-option>
    </ion-select>
  </div>
  <div>
    <ion-button expand="block" color="primary">Xem kết quả</ion-button>
  </div>
</ion-content>
