<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Tin Tức</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="posts-content">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large" class="title_posts" color="danger">Tin
        tức</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="wrapper_article">
    <ion-card>
      <ion-list class="arrticle-list">
        <div class="arrticle-item" *ngFor="let item of data" lines="inset"
          class="arrticle-item">
          <div class="thum ion-margin-bottom">
            <ion-thumbnail slot="start">
              <ion-img
                [src]="item.image" [alt]="item.title"
                [style.opacity]="loaded ? 1 : 0"
                (ionImgWillLoad)="imageWillLoad($event)"
                (ionImgDidLoad)="loaded = true"
                [lazyLoad]="lazyLoadImage"></ion-img>
            </ion-thumbnail>
          </div>
          <div class="content">
            <h4 class="arrticle-title">
              <a (click)="openModal(item.code)" class="arrticle-item-title ">
                {{ item.title
                }}</a>
            </h4>
            <a (click)="openModal(item.code)" class="arrticle-more">Xem thêm  <ion-icon name="arrow"></ion-icon></a>
          </div>
        </div>
      </ion-list>
      @if(isLoadmore){
      <ion-infinite-scroll (ionInfinite)="onIonInfinite($event)"
        class="custom-loading">
        <ion-infinite-scroll-content loadingSpinner="circles"
          class="custom-loading-content">
        </ion-infinite-scroll-content>
      </ion-infinite-scroll>
      }

    </ion-card>
  </div>
</ion-content>