<ion-header
  class="header-modal modal-header ion-no-border"
  [translucent]="true"
>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="cancel()">
        <ion-icon name="chevron-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Chuyển đổi giá vàng tự do</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="content-modal ion-padding modal-content">
  <div class="ion-margin-bottom">
    <ion-input
      label="Giá thế giới"
      labelPlacement="stacked"
      placeholder="Nhập giá"
      fill="outline"
      color="primary"
      [(ngModel)]="goldValue"
      [maskito]="maskOpts"
    >
      <ion-label slot="end">USD</ion-label>
    </ion-input>
  </div>
  <div class="ion-margin-bottom">
    <ion-button (click)="convert()" expand="block" color="primary"
      >Quy đổi</ion-button
    >
  </div>
  @if(isLoading){
  <div class="ion-text-center">
    <ion-spinner></ion-spinner>
  </div>
  }@else if(valueConvert && valueChange){
  <div class="ion-margin-bottom">
    <ion-input
      label="Giá quy đổi"
      labelPlacement="stacked"
      fill="outline"
      readonly
      color="primary"
      [(ngModel)]="valueConvert"
      [maskito]="maskOpts"
    >
      <ion-label slot="end">VND</ion-label>
    </ion-input>
  </div>
  <div>
    <ion-input
      label="Chênh lệch"
      labelPlacement="stacked"
      fill="outline"
      readonly
      color="primary"
      [(ngModel)]="valueChange"
      [maskito]="maskOpts"
    >
      <ion-label slot="end">VND</ion-label>
    </ion-input>
  </div>
  }
</ion-content>
