<ion-tabs>
  <ion-tab-bar slot="bottom" id="main-content">
    <ion-tab-button tab="home" href="/tabs/home">
      <ion-icon size="small" aria-hidden="true" name="home"></ion-icon>
      <ion-label>Tỷ giá 68</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="article" href="/tabs/article">
      <ion-icon size="small" aria-hidden="true" name="newspaper"></ion-icon>
      <ion-label>Tin tức</ion-label>
    </ion-tab-button>
    <!-- <ion-tab-button tab="ads" href="/tabs/ads">
      <ion-icon size="small" aria-hidden="true" name="receipt"></ion-icon>
      <ion-label>Quảng cáo</ion-label>
    </ion-tab-button> -->
    <ion-tab-button>
      <ion-menu-toggle>
        <ion-tab-button>
          <ion-icon size="small" aria-hidden="true" name="flame"></ion-icon>
          <ion-label>Tiện ích</ion-label>
        </ion-tab-button>
      </ion-menu-toggle>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
