#article-detail{
    .article-detail-bg{
       
    }
    .article-detail-title{
        margin: 15px 0;
        padding-inline-start:0px;
        padding-inline-end: 0px;
        font-size: 20px;
        font-weight: bold;
    }
    #section-content {
        p {
            display: block;
            margin: 1em 0;
            line-height: 32px;
        }
    }
}