.exchange-block {
    padding-top: 0;
    position: relative;
    background-color: var(--exchange-bg-color);

    .exchange-gold {

        .exchange-gold-item {
            background-color: var(--table-header-bg-color);
            height: 40px;
            padding: 0 16px;
            font-weight: 500;
            font-size: 14px;
            border-radius: 4px;
            margin-bottom: 1px;


            span {
                font-size: 12px;
                margin-left: 2px;
            }
        }
    }

    .exchange-search {
        height: 48px;
        width: 100%;
        position: relative;
        background: transparent;
        margin-bottom: 16px;

        input {
            width: 100%;
            height: 100%;
            border-radius: 8px;
            background: transparent;
            border: 1px solid var(--border-table-color);
            outline: none;
            padding: 0 16px 0 56px;

            &:focus {
                border-color: var(--ion-color-primary);
                box-shadow: 0 0 0 0.25rem rgba(var(--ion-color-primary-rgb), 0.25);
            }
        }

        ion-icon {
            position: absolute;
            left: 16px;
            top: 50%;
            width: 26px;
            height: 26px;
            transform: translateY(-50%);
            color: var(--ion-text-color, #000)
        }
    }

    .exchange-tab {
        white-space: nowrap;
        display: flex;
        align-items: center;
        overflow-x: auto;
        margin-bottom: 8px;

        &::-webkit-scrollbar {
            opacity: 0;
        }

        ion-chip {
            min-width: min-content;
            font-weight: 500;

            &.active {
                background: var(--ion-color-primary) !important;
                color: #fff !important;

            }
        }
    }

    .exchange-loading {
        width: 100%;
        height: 200px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .exchange-table {
        padding: 0;

        .exchange-table-header {
            border-top-left-radius: 4px;
            border-top-right-radius: 4px;
            padding: 0 8px;
            overflow: hidden;
            font-size: 14px;
            background-color: var(--table-header-bg-color);

            ion-col {
                padding-top: 12px;
                padding-bottom: 12px;
                color: var(--ion-text-color, #000);
                font-weight: 500;

            }
        }

        .exchange-table-row {
            overflow-x: scroll !important;
            overflow-y: hidden;
            word-wrap: break-word;
            flex-wrap: nowrap;
            padding: 0 8px;
            font-size: 14px;
            color: var(--ion-text-color, #000);
            background-color: var(--table-body-bg-color);
            border-bottom: 1px solid var(--border-table-color);


            ion-icon.mini {
                width: 12px;
                height: 12px;
            }

            ion-img {
                width: 18px;
                min-width: 18px;
                height: 18px;
                border-radius: 50%;
                overflow: hidden;
            }

            ion-col {
                min-height: 48px;
                font-weight: 500;

                .text-max-width {
                    width: calc(100% - 22px);
                    display: block;
                }
            }

            &:last-child {
                border-color: transparent;
                border-bottom-left-radius: 4px;
                border-bottom-right-radius: 4px;
                overflow: hidden;
            }
        }
    }


    ion-icon.animation-renew {
        animation: animation-renew 5s linear infinite;
    }

    @keyframes animation-renew {
        0% {
            opacity: 0;
        }

        20% {
            opacity: 1;
        }

        100% {
            opacity: 1;
        }
    }
}










// .exchange-table {
//     padding: 0;

//     .exchange-table-header {
//         font-size: 14px;
//         color: var(--ion-text-color, #000);
//         border-bottom: 1px solid var(--border-table-color);

//         ion-col {
//             padding-top: 12px;
//             padding-bottom: 12px;
//         }
//     }

//     .exchange-table-row {





//     }
// }