.merchant-detail {
    &-title {
        margin: 15px 0;
        padding-inline-start: 0px;
        padding-inline-end: 0px;
        font-size: 20px;
        font-weight: bold;
    }
    .merchant-detail-date{
        color: #8c94a1;
    }
    &-des {
        p {
            display: block;
            margin: 1em 0;
            line-height: 32px;
        }
    }
}
