.exchange-block{
    padding-top: 0;
}

.exchange-header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    h3 {
        margin: 0;
    }

    span {
        font-size: 14px;
        color: #9da4af;
    }
}

.exchange-table {

    .exchange-table-header {
        font-size: 14px;
        color: var(--ion-text-color, #000);
        border-bottom: 1px solid var(--border-table-color);

        ion-col {
            padding-top: 12px;
            padding-bottom: 12px;
        }

    }

    .exchange-table-row {
        font-size: 14px;
        color: var(--ion-text-color, #000);
        border-bottom: 1px solid var(--border-table-color);

        ion-icon.mini {
            width: 12px;
            height: 12px;
        }

        &:last-child {
            border-color: transparent;
        }
    }
}