.modal-header {
    --ion-toolbar-background: var(--bg-exchange);
}

.modal-content {
    --background: var(--bg-exchange);

    .has-focus,
    .select-expanded {
        --highlight-color: var(--ion-color-primary) !important;
    }

    ion-select {
        --placeholder-opacity: 1;
        .select-wrapper-inner {
            width: 100%;
            justify-content: space-between;
        }
    }
}
