.modal-header {
    --ion-toolbar-background: var(--bg-exchange);
}
.modal-content {
    --background: var(--bg-exchange);

    .has-focus{
        --highlight-color: var(--ion-color-primary) !important;
    }
}
