
<ion-header [translucent]="true" (click)="cancel()">
  <ion-toolbar class="header-top">
    <ion-buttons slot="start">
      <ion-button (click)="cancel()">
        <ion-icon name="back"></ion-icon>
      </ion-button>
    </ion-buttons> <ion-title>Quay
      lại</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <div id="article-detail" class="ion-padding">
    <div class="article-detail-bg">
      <ion-img
        [src]="articleSingle()?.image"
        [alt]="'Silhouette of mountains'"
        [style.opacity]="loaded ? 1 : 0"
        (ionImgWillLoad)="imageWillLoad($event)"
        (ionImgDidLoad)="loaded = true"></ion-img>
    </div>
    <h1 size="large"
      class="article-detail-title">{{articleSingle()?.title}}</h1>
    <ion-label>{{articleSingle()?.created_at | date}}</ion-label>
    <section
      *ngIf="sourceHMTLContent"
      data-aos="fade-down"
      class="mt-4 mb-5"
      id="section-content"
      [innerHTML]="sourceHMTLContent"></section>
  </div>
</ion-content>
