<ion-content class="home_content">
  <div class="bg">
    <app-header></app-header>
    <h1 class="heading">
      Xem tỷ giá ngoại tệ<br class="d-block d-md-none" />
      trực tuyến tại <span class="text-primary">Tỷ giá 68</span>
    </h1>
    <div class="wrapper">
      <ion-list class="exchange-list">
        <ion-item
          class="exchange-item"
          *ngFor="let item of options"
          [ngClass]="{
            active: valueChoose() === item.value
          }"
          (click)="selectValue(item.value)"
        >
          <ion-label>{{ item.label }}</ion-label>
        </ion-item>
      </ion-list>
      @if(valueChoose()==="MARKET"){
      <app-exchange-biexce [type]="'MARKET'"></app-exchange-biexce>
      }@else if(valueChoose()==="FIAT"){
      <app-exchange-biexce [type]="'FIAT'"></app-exchange-biexce>
      }@else {
      <app-exchange [type]="valueChoose()"></app-exchange>
      }
    </div>
    <div class="wrapper">
      <ion-list class="exchange-list">
        <ion-item
          class="exchange-item"
          *ngFor="let item of options1"
          [ngClass]="{
            active: valueChoose_2() === item.value
          }"
          (click)="handleChang(item.value)"
        >
          <ion-label>{{ item.label }}</ion-label>
        </ion-item>
      </ion-list>
      @if(valueChoose_2()==="USDT"){
      <app-exchange-biexce [type]="'USDT'"></app-exchange-biexce>
      }@else if(valueChoose_2()==="CRYPTO"){
      <app-exchange-biexce [type]="'CRYPTO'"></app-exchange-biexce>
      }@else {
      <app-exchange [type]="valueChoose_2()"></app-exchange>}
    </div>
    <div class="wrapper">
      <ion-list class="exchange-list">
        <ion-item
          class="exchange-item"
          *ngFor="let item of option2"
          [ngClass]="{
            active: valueChoose_gold() === item.value
          }"
          (click)="handleChangGold(item.value)"
        >
          <ion-label>{{ item.label }}</ion-label>
        </ion-item>
      </ion-list>
      <app-exchange [type]="valueChoose_gold()"></app-exchange>
    </div>
    <div class="wrapper">
      <ion-list class="exchange-list">
        <ion-item class="exchange-item active">
          <ion-label>{{ "Giá nông sản" }}</ion-label>
        </ion-item>
      </ion-list>
      <app-exchange-biexce [type]="'AGRICULTURAL'"></app-exchange-biexce>
    </div>
  </div>
</ion-content>
