<ion-header class="ion-no-border" [translucent]="true">
  <ion-toolbar class="ion-padding">
    <ion-icon
      slot="end"
      color="light"
      size="small"
      name="notifications"
    ></ion-icon>
  </ion-toolbar>
  <div class="exchange-select">
    <ion-select
      interface="popover"
      label-placement="floating"
      [(ngModel)]="valueChoose"
    >
      <ion-select-option *ngFor="let item of options" [value]="item.value"
        >{{item.label}}</ion-select-option
      >
    </ion-select>
  </div>
</ion-header>

<ion-content [fullscreen]="true">
  @if(valueChoose() === 'ALL'){ }@else {
  <app-exchange
    [type]="valueChoose()"
    [showTitle]="false"
    [title]="title"
    [limit]="20"
    [infiniteLoad]="true"
  ></app-exchange>
  }
</ion-content>
