<div class="exchange-block ion-padding">
  <div>
    @if(isSearch()){
    <div class="exchange-search">
      <input type="text" placeholder="Tìm kiếm" [(ngModel)]="searchKey" (ngModelChange)="search($event)"  />
      <ion-icon name="search"></ion-icon>
    </div>
    }@else{}
    <ion-grid class="exchange-table">
      <ion-row class="exchange-table-header">
        <ion-col class="ion-text-start">Tên</ion-col>
        <ion-col class="ion-text-end">Mua</ion-col>
        <ion-col class="ion-text-end">Bán</ion-col>
        @if(isShowChart()){
        <ion-col size="2" class="ion-text-end"></ion-col>
        }
      </ion-row>
    </ion-grid>
  </div>
  @if(isFirstLoading()){
  <div class="exchange-loading">
    <ion-spinner></ion-spinner>
  </div>
  }@else {
  <ion-grid class="exchange-table">
    <ion-row *ngFor="let item of dataSearch()" class="exchange-table-row">
      <ion-col class="ion-text-start flex items-center">
        @if(isShowImage()){
        <ion-img
          class="mr-4"
          [src]="item.baseCurrency | iconCurrency"
        ></ion-img>
        }
        <span>
          {{ item.name }}
        </span>
      </ion-col>
      <ion-col class="ion-text-end flex flex-column justify-center">
        <ion-text [color]="item.changePriceBuy >= 0 ? 'success' : 'danger'">
          {{ item.priceBuy | number }}
        </ion-text>
        <div class="flex mt-4 justify-end items-center">
          <ion-icon
            class="mini"
            size="small"
            [color]="item.changePriceBuy >= 0 ? 'success' : 'danger'"
            [name]="item.changePriceBuy >= 0 ? 'caret-up' : 'caret-down'"
          ></ion-icon>
          <ion-text
            [color]="item.changePriceBuy >= 0 ? 'success' : 'danger'"
            class="fs-12"
          >
            {{ item.changePriceBuy | number }}
          </ion-text>
        </div>
      </ion-col>
      <ion-col class="ion-text-end flex flex-column justify-center">
        <ion-text [color]="item.changePriceBuy >= 0 ? 'success' : 'danger'">
          {{ item.priceSell | number }}
        </ion-text>
        <div class="flex mt-4 justify-end items-center">
          <ion-icon
            class="mini"
            size="small"
            [color]="item.changePriceBuy >= 0 ? 'success' : 'danger'"
            [name]="item.changePriceSell >= 0 ? 'caret-up' : 'caret-down'"
          ></ion-icon>
          <ion-text
            [color]="item.changePriceSell >= 0 ? 'success' : 'danger'"
            class="fs-12"
          >
            {{ item.changePriceSell | number }}
          </ion-text>
        </div>
      </ion-col>
      @if(isShowChart()){
      <ion-col
        size="2"
        class="flex justify-end items-center"
        (click)="openChart(item.baseCurrency, item.targetCurrency)"
      >
        <ion-icon color="primary" name="bar-chart"></ion-icon>
      </ion-col>
      }
    </ion-row>
  </ion-grid>
  } @if(meta()){
  <app-pagination
    [page]="meta()!.page"
    [pageSize]="meta()!.limit"
    [totalItem]="meta()!.itemCount"
    (pageChange)="pageChanged($event)"
  ></app-pagination>
  }@else{}
</div>
